*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  background-color: #c5b5a6;
  font-family: Lato;
  font-weight: 300;
  margin: 0;
  padding: 0;
}

img {
  height: auto;
  max-width: 100%;
}
